<style>
  @import url("https://fonts.cdnfonts.com/css/poppins");
  * {
    font-family: "Poppins", sans-serif;
  }
  input[type="checkbox"] {
    cursor: pointer;
    width: 50px;
    height: 50px;
  }
  .checkbox-all {
    display: flex;
    font-size: larger;
    gap: 1vw;
    flex-wrap: wrap;
  }
  fieldset {
    display: flex;
    line-height: 0;
    gap: 10px;
    background: rgb(120, 221, 241);
  }
  .is_read {
    background: white;
  }
  .select-options {
    cursor: pointer;
  }
  .select-options:hover {
    text-decoration: underline;
  }
  .hidden {
    display: none;
  }
  .text-copy .text {
    border: 1px solid black;
    padding: 1rem;
  }
</style>

<div class="checkbox-all">
  <a class="select-options" data-select="all">Select All</a>
  <a class="select-options" data-select="none">Select None</a>
  <a class="select-options" data-select="read">Select Read</a>
  <a class="select-options" data-select="unread">Select Unread</a>
  <a class="select-options" data-select="reverse">Select Reverse</a>
</div>
<br />
<button class="btn-action-inbox hidden">Hapus</button>
<button class="btn-action-inbox hidden">Pulihkan</button>
<br />
<br />

<div style="display: flex; flex-direction: column; gap: 10px" id="mail-inbox">
  <fieldset class="inbox is_read">
    <input type="checkbox" name="" id="" />
    <h1>Hello</h1>
  </fieldset>
  <fieldset class="inbox">
    <input type="checkbox" name="" id="" />
    <h1>Hello</h1>
  </fieldset>
  <fieldset class="inbox">
    <input type="checkbox" name="" id="" />
    <h1>Hello</h1>
  </fieldset>
  <fieldset class="inbox">
    <input type="checkbox" name="" id="" />
    <h1>Hello</h1>
  </fieldset>
  <fieldset class="inbox">
    <input type="checkbox" name="" id="" />
    <h1>Hello</h1>
  </fieldset>
  <fieldset class="inbox">
    <input type="checkbox" name="" id="" />
    <h1>Hello</h1>
  </fieldset>
</div>

<br /><br /><br />
<div class="text-copy">
  <div class="text">Halo bang</div>
  <button class="copy-btn">Salin</button>
</div>

<script src="JS/checkboxes.js"></script>
